
body{
  margin: 0;
  background-color: white;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color:#40514E
}

div{
  border:0;
}

.topcont{
  position: relative;
  background-color: #E4F9F5;
  padding-top: 100px
}

.midcont{
	/*background-image: url('https://github.com/Datachic/CSSMySite/blob/master/images/cloud.png?raw=true');
	background-size: cover;*/
}

.bottcont{

}

.topcloud{
  width:200px;
  height: 150px;
  position: absolute;
  right: 200px;
  top: 100px;
}

.bottomcloud{
  width: 200px;
  height: 150px;
  position: absolute;
  left: 170px;
  bottom: 200px;
}
.dome{
  height: 300px;
  width: 600px;
}
.sp{
  color:#11999E;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color:#d92027;
}

h1{
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
color: #66BFBF;
}

h2{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
}
hr{
  border: 6px dotted #EAF6F6;
  width: 5%;
  border-bottom: none;
  margin:60px auto;

}
.social{
    width: 30px;
    height: 30px;
    position: relative;
      top: 8px;
}

.social1{
    width: 60px;
    height: 60px;
    margin: 0;
    /*position: relative;
    bottom: 1px;*/
}

.sushi{
  width: 30%;
  float: right;
  margin-left: 30px;
}

.dev {
  width: 25%;
  float :left;
  margin-right: 30px

}
.skill-row{
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 80px;
}

h3{
  text-align: left;

}
.sk{
  text-align: left;
  line-height: 2;

}
.foot{
  padding-top:30px;
  padding-bottom:10px;
  background-color: #66BFBF;
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}
.footnote{
  color:#EAF6F6;
  padding-top:10px;
  font-size: 0.75rem;
  letter-spacing: 3px;
  padding:20px 0;
  line-height:
}

 .footer-link{
   margin:0 50px 0 5px;
   text-decoration: none;
   font-size: 1rem;
   font-weight: bold;
 }
a:hover{
  color:#EAF6F6
}

 .btn {
 background: #B4F7C7;
 background-image: -webkit-linear-gradient(top, #B4F7C7, #11999E);
 background-image: -moz-linear-gradient(top, #B4F7C7, #11999E);
 background-image: -ms-linear-gradient(top, #B4F7C7, #11999E);
 background-image: -o-linear-gradient(top, #B4F7C7, #11999E);
 background-image: linear-gradient(to bottom, #B4F7C7, #11999E);
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
 height: 0px;
 line-height: 0px;
 color: #FFFFFF;
 font-family: 'Montserrat', sans-serif;
 width: 150px;
 font-size: 21px;
 font-weight: 500;
 padding: 20px;
 box-shadow: 0px 4px 0px 2px #0C5A26;
 -webkit-box-shadow: 0px 4px 0px 2px #0C5A26;
 -moz-box-shadow: 0px 4px 0px 2px #0C5A26;
 text-shadow: 1px 1px 5px #000000;
 border: solid #0D772A 1px;
 text-decoration: none;
 display: inline-block;
 cursor: pointer;
 text-align: center;
 }


.btn:hover {
border: solid #E9E611 1px;
background: #224605;
background-image: linear-gradient(to bottom, #224605, black);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
}

.top-container{
  width: 200px;
  height: 200px;
  background-color: #900c3f;
  border: 10px solid;
  padding: 20px;
  position:relative;
  left:240px;
  top:240px;
}
.middle-container{
  width: 200px;
  height: 200px;
  background-color: red;
  border: 20px solid;
  /*margin-left: 260px*/
  position:relative;
  right:1px;
  bottom:260px;
}

.bottom-container{
  width: 200px;
  height: 200px;
  background-color: gold;
  border: 10px solid;
  margin-left: 500px
}
.tcont{
  background-color: #E4F9F5

}
.divbod{
  /*position: relative;*/
  left: 300px;

}
/*.h3, .p3{
  text-align: right;
}*/
